.photo-manager {
  padding: 30px 15px 15px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
